* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: rgb(9, 9, 9);
    font-size: 18px;
    letter-spacing: 1px;
    background: #ffffff;
    cursor: pointer; 
    border-radius: 15px; 
}

.login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(8, 217, 240, 0.9) 10%,
      rgb(143, 27, 238) 65%,
      rgba(231, 23, 242, 0.9 ) 10%
    );
    box-shadow: 0 50px 70px -20px rgba(77, 74, 74, 0.8);
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
    
  }
  
  .login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: rgb(250, 29, 232);
  }
  
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
  }
  
  .HomeNav {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(8, 217, 240, 0.9) 0%,
      rgb(143, 27, 238)59%,
      rgba(231, 23, 242, 0.9)100%
    );
  }
  
  .HomeNav nav {
    background: black;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .HomeNav nav h2 {
    color: #fff;
  }
  
  .buttonLogout {
    width: 86px;
    padding: 8px 0;
    background: white;
    border-radius: 15px;
    color: black;
  }

  .landingBackground {
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }
  .tittleForm{
    color: white;
    
  }
